<div class="container mt-3">
	<div class="row">
	<div class="col-md-auto">
	    <a class="nav-item nav-link" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}"
		style="padding-left: 0; color: #000; font-weight: bold;"
		    >
		    {{ .Site.Title }}
	    </a>
	</div>
	<div class="col">
    <nav class="navbar navbar-expand-sm flex-column flex-sm-row text-nowrap p-0" style="justify-content: flex-end;">
        <div class="navbar-nav flex-row flex-wrap justify-content-center">
            {{ with .Site.Menus.main }}
                {{ $navbar_len := len . }}
                {{ range $i, $nav_item := . }}
                    <a class="nav-item nav-link" href="{{ $nav_item.URL }}" title="{{ $nav_item.Name }}">
                        {{ $nav_item.Pre }}{{ $nav_item.Name }}{{ $nav_item.Post }}
                    </a>
                    {{ if ne (add $i 1) $navbar_len }}
                        <span class="nav-item navbar-text mx-1 nav-separator">&nbsp;</span>
			<!-- The 'alt' separator is only displayed when the
				other is hidden -->
			<span class="nav-item navbar-text mx-1 nav-separator-alt">&nbsp;</span>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </nav>
	</div>
	</div>
</div>
<hr>

