{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    {{ range (.Pages.GroupByParam "year").Reverse }}
    <h3>{{ .Key }}</h3>
    <ul class="publications">
        {{ range (.Pages.ByParam "year").Reverse }}
            <li>
		    {{ .Params.authors }}<br/>
		    {{ with .Params.pdf }}
		    <a href="{{ . }}"><i class="fa-regular fa-file-pdf"></i></a>
		    {{ end }}
		    {{ with .Params.doi }}
		    <a href="{{ . }}"><i class="fa-regular fa-link"></i></a>
		    {{ end }}
		    <a href="{{ .Permalink }}">{{ .Title }}</a><br/>
		    <span class="paper-info">{{ .Params.info }}</span>
	    </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}
