{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    {{ range (.Pages.GroupByParam "year").Reverse }}
    <h3>{{ .Key }}</h3>
    <ul class="publications">
        {{ range (.Pages.ByParam "year").Reverse }}
	<li id="{{ .Title | urlize }}">
		    {{ .Params.authors }}<br/>
		    <span class="paper-title">{{ .Title }}</span><br/>
		    <span class="paper-info">{{ .Params.info }}</span>
		    <br/>
		    <a href="{{ .Permalink }}">[abstract]</a>
		    {{ with .Params.pdf }}
		    <a style="color: #ff0000;" href="{{ . }}">[pdf]</a>
		    {{ end }}
		    {{ with .Params.doi }}
		    <a href="{{ . }}">[doi]</a>
		    {{ end }}
	    </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}
